@model NZWalks.UI.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-action="Login" method="post">
    <div class="form-group mb-3">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Login</button>
</form>

<div class="mt-3">
    <a asp-action="Register" asp-controller="Auth">Don’t have an account? Register here</a>
</div>
